In [1]:
#from __future__ import division
import pandas as pd
import csv
import os
import numpy as np

file = "election_data.csv"
# with open(file) as f:
#     print(f)
# <_io.TextIOWrapper name='election_data.csv' mode='r' encoding='cp1252'
file_df = pd.read_csv(file, encoding = "cp1252")
file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [2]:
#find total votes cast
totalVotes = len(file_df["Candidate"])
totalVotes

3521001

In [3]:
#find unique candidates running
candList = pd.DataFrame(file_df["Candidate"].unique())
candList

          0
0      Khan
1    Correy
2        Li
3  O'Tooley

In [13]:
#votes per candidate
candVotes = (file_df["Candidate"].value_counts())

candVotes.head()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [14]:
#percentage of votes per candidate
#percentages = "{0:0f%}".format(int(candVotes_df)/totalVotes)
percentages = pd.DataFrame(candVotes/totalVotes)
percentages

          Candidate
Khan           0.63
Correy         0.20
Li             0.14
O'Tooley       0.03

In [15]:
#Combine Datafields
combined_df= {"Candidate":file_df["Candidate"].unique(), 
                   "Total Votes": file_df["Candidate"].value_counts(), 
               "Percent of Vote": (candVotes/totalVotes)}
info_pd = pd.DataFrame(combined_df, columns=["Candidate", "Total Votes", "Percent of Vote"])
info_pd

         Candidate  Total Votes  Percent of Vote
Khan          Khan      2218231             0.63
Correy      Correy       704200             0.20
Li              Li       492940             0.14
O'Tooley  O'Tooley       105630             0.03

In [7]:
# Winner!
winner = "Kahn"
winner

'Kahn'

In [17]:
#Summary List
print("Election Results")
print("-----------------------------")
print("Total Votes: " + str(totalVotes))
print("-----------------------------")
print(info_pd)
print("------------------------------")
print("Winner: " + winner)

Election Results
-----------------------------
Total Votes: 3521001
-----------------------------
         Candidate  Total Votes  Percent of Vote
Khan          Khan      2218231             0.63
Correy      Correy       704200             0.20
Li              Li       492940             0.14
O'Tooley  O'Tooley       105630             0.03
------------------------------
Winner: Kahn

In [9]:
#export text file
file_df.to_csv("PyPollFinal.csv", index=False, header = True)